<header>
    <h1>Edit Interview</h1>
    <h2>Fill out the following to edit the interview:</h2>
</header>

<section class="edit-form">
    <form action="/interviews/<%= @interview.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        
        <label class="edit-label" for="company">Company:</label>
        <input class="edit-input" type="text" name="company" value="<%= @interview.company %>" required>

        <label class="edit-label" for="position">Position:</label>
        <input class="edit-input" type="text" name="position" value="<%= @interview.position %>" required>

        <label class="edit-label" for="date">Date:</label>
        <input class="edit-input" type="date" name="date" value="<%= @interview.date %>" required>

        <label class="edit-label" for="time">Time:</label>
        <input class="edit-input" type="time" name="time" value="<%= @interview.time %>" required>

        <label class="edit-label" for="location">Location:</label>
        <input class="edit-input" type="text" name="location" value="<%= @interview.location %>" required>

        <label class="edit-label" for="notes">Anything to Note:</label>
        <textarea class="edit-input" name="notes"><%= @interview.notes %></textarea>

        <input type="submit" value="Save Changes">
    </form>
</section>