<% if is_logged_in?(session) && is_owner?(@interview.user_id) %>
    <div id="interview-information">
        <h1><%= @interview.user.name %>'s Interview With <%= @interview.company %></h1>

        <p><strong>Company:</strong> <%= @interview.company %></p>

        <p><strong>Position:</strong> <%= @interview.position %></p>

        <p><strong>Date of Interview:</strong> <%= @interview.date %></p>

        <p><strong>Time of Interview:</strong> <%= @interview.time %></p>

        <p><strong>Location:</strong> <%= @interview.location %></p>

        <% if !@interview.notes.empty? %>
            <p><strong>Things to Note:</strong></p>
            <p><%= @interview.notes %></p>
        <% end %>

        <a href="/interviews/<%= @interview.id %>/edit">Edit</a>
                
        <form action="/interviews/<%= @interview.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove">
        </form>
    </div>
<% end %>