<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobservation - Organizer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/organizer.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>
        <ul id="nav-bar">
          <li>
            <a href="/organizer" class="nav-bar-link">Home</a>
          </li>

          <li>
            <a href="/logout" id="logout-link" class="nav-bar-link">Logout</a>
          </li>
        </ul>
      </nav>

      <p id="welcome-user">Welcome, <%= current_user.name %>!</p>

      <main>
          <section class="interviews">
              <ul>
                  <li>
                    <h4>Upcoming Interviews</h4>
                  </li>

                  <li>
                    <a href="/interviews/new">Add Interview</a>
                  </li>
              </ul>
              

            <% if @interviews != [] %>
              <table id="upcoming-interviews">
                  <tr>
                      <th>Company</th>
                      <th>Position</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th></th>
                  </tr>

                  <% @interviews.each do |i| %>
                      <tr>
                          <td><%= i.company %></td>
                          <td><%= i.position %></td>
                          <td><%= i.date %></td>
                          <td><%= i.time %></td>
                          <td><a href="interviews/<%= i.id %>">View</a></td>
                      </tr>
                  <% end %>
            <% else %> 
              <p id="no-interview-text">You have no upcoming interviews, to make a interview, click on the add interview button.</p>
            <% end %>
            </table>
          </section>

          <section class="applications">
            <ul>
                <li>
                  <h4>Applications</h4>
                </li>

                <li>
                  <a href="/applications/new">Add Application</a>
                </li>
            </ul>

            <% if @applications != [] %>
              <table id="all-applications">
                  <tr>
                      <th>Company</th>
                      <th>Position</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th></th>
                  </tr>

                  <% @applications.each do |a| %>
                    <tr>
                        <td><%= a.company %></td>
                        <td><%= a.position %></td>
                        <td><%= a.date %></td>
                        <td><%= a.status %></td>
                        <td><a href="applications/<%= a.id %>">View</a></td>
                    </tr>
                  <% end %>
                <% else %>
                    <p id="no-application-text">You have no applications recorded, to make a new application, click on the add application button.</p>
                <% end %>
            </table>
          </section>
      </main>

      <footer>
        <p id="footer-text">Jobservation 2020</p>
      </footer> 
</body>
</html>