<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <ul id="nav-bar">
          <li>
            <a href="/organizer" class="nav-bar-link">Home</a>
          </li>
    
          <li>
            <a href="/edit-account" class="nav-bar-link">Edit Account</a>
          </li>

          <li>
              <p id="welcome-user">Welcome, <%= current_user.name %>!</p>
          </li>

          <li>
              <a href="/logout" class="nav-bar-link">Logout</a>
          </li>
        </ul>
      </nav>

      <main>
          <section class="interviews">
              <ul>
                  <li>
                    <h4>Upcoming Interviews</h4>
                  </li>

                  <li>
                    <a href="/organizer/add-interview">Add Interview</a>
                  </li>

                  <li>
                      <a href="/organizer/edit-remove-interview">Edit/Remove</a>
                  </li>
              </ul>
              
            <table id="upcoming-interviews">
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>

                <% @interviews.each do |i| %>
                    <tr>
                        <td><%= i.company %></td>
                        <td><%= i.position %></td>
                        <td><%= i.date %></td>
                        <td><%= i.time %></td>
                    </tr>
                <% end %>
            </table>
          </section>

          <section class="applications">
            <ul>
                <li>
                  <h4>Applications</h4>
                </li>

                <li>
                  <a href="/organizer/add-application">Add Application</a>
                </li>

                <li>
                    <a href="/organizer/edit-remove-application">Edit/Remove</a>
                </li>
            </ul>

            <table id="all-applications">
                <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>

                <% @applications.each do |a| %>
                  <tr>
                      <td><%= a.company %></td>
                      <td><%= a.position %></td>
                      <td><%= a.date %></td>
                      <td><%= a.status %></td>
                  </tr>
              <% end %>
            </table>
          </section>
      </main>

      <footer>
        <p id="footer-text">Jobservation 2020</p>
      </footer> 
</body>
</html>